@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Inclusive+Sans:400|Albert+Sans:700");

@font-face {
  font-family: "LINE Seed Sans TH-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/64e6ee2e25081e8f2cfc6c90/fonts/lineseedsansth_rg.otf") format("opentype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .container {
    @apply px-8 sm:px-12 max-w-[1200px] lg:m-auto;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:"LINE Seed Sans TH-Regular";
}

@layer base { img {display: initial;}}